

.nav-link{
    text-decoration: none;
 
}


.img-banner {
        position: absolute;
        right: 40px;
        top: 0px;
        width: 400px;
        height: 500px;
      
  }

.stack{
    flex-direction:"column";
    align-items:"center";
    justify-content:"center";

  }


  .search-btn:hover {
    color: #FF2625 !important;
    border: 1px solid #FF2625 !important;
  }